/* Estilo personalizado para las cards */
.card {
    border: 1px solid #444444;
    border-radius: 8px;
}

.card-img-top {
    border-radius: 8px 8px 0 0;
}

.card-title {
    font-size: 1.2rem;
}

.card-body {
    background-color: #333333;
    border-radius: 8px;
}

footer a {
    font-size: 1.1rem;
}

@media (max-width: 576px) {
    footer a {
        font-size: 1rem; /* Enlaces más pequeños en pantallas pequeñas */
        display: block;  /* Asegura que los enlaces se apilen verticalmente */
        margin-bottom: 10px; /* Espaciado entre los enlaces */
    }
}
